In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("books_dataset.csv")

In [4]:
data.head(10)

  edition citation   prize    size inlibrary  buy
0    many      few      ok   small        no   no
1     one     many  not ok     big        no  yes
2     few      few  not ok     big    always   no
3    many     many  not ok  medium        no  yes
4    many     many      ok   small        no  yes

In [5]:
from functools import reduce

def find_dataset_info(data):
    ncol = data.shape[1] - 1
    uniqueValues = list(map(lambda x: len(data[x].unique()),data))[:-1]
    nInstances = reduce((lambda x, y: x * y), uniqueValues)
    
    uniqueValues = list(map(lambda x: x+2, uniqueValues))
    nSyntactial = reduce((lambda x, y: x * y), uniqueValues)
    
    uniqueValues = list(map(lambda x: x-1, uniqueValues))
    nSemantic = 1 + reduce((lambda x, y: (x) * (y)), uniqueValues)
    
    print("Number of Instances = " + str(nInstances))
    print("Number of Syntactial = " + str(nSyntactial))
    print("Number of Semantic = " + str(nSemantic))
    
    return [nInstances, nSyntactial, nSemantic]

def list_to_string(ln):
    temp = ""
    for x in ln:
        temp+=x
        temp+=" "
    return temp

def findS_algorithm(data, positive_value = "yes"):
    hypothesis = ["Φ" for _ in range(data.shape[1]-1)]
    columns = data.columns
    print("Initial value of hypothesis: "+ list_to_string(hypothesis))
    first_value = True
    i = 0
    while(i < data.shape[0]):
        if(data.iloc[i,-1] != positive_value):
            i+=1
            continue
        value = list(data.iloc[i,:-1])
        if(first_value):
            hypothesis = list(data.iloc[i,:-1])
            first_value = False
        else:
            for item in range(len(value)):
                if(value[item] != hypothesis[item]):
                    hypothesis[item] = "?"
        print("Hypothesis value after data example "+ str(i+1)+": "+list_to_string(hypothesis))
        i+=1
    return hypothesis

In [6]:
find_dataset_info(data)

Number of Instances = 72
Number of Syntactial = 1600
Number of Semantic = 433

[72, 1600, 433]

In [7]:
findS_algorithm(data)

Initial value of hypothesis: Φ Φ Φ Φ Φ
Hypothesis value after data example 2: one many not ok big no
Hypothesis value after data example 4: ? many not ok ? no
Hypothesis value after data example 5: ? many ? ? no

['?', 'many', '?', '?', 'no']