In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("books.csv")

In [3]:
data.head(10)

  edition citation   prize    size inlibrary  buy
0    many      few      ok   small        no   no
1     one     many  not ok     big        no  yes
2     few      few  not ok     big    always   no
3    many     many  not ok  medium        no  yes
4    many     many      ok   small        no  yes

In [26]:
def package_hypothesis(hypothesis, outcome):
    ln = dict()
    ln['hypothesis'] = hypothesis
    ln['outcome'] = outcome
    return ln

#Test hypothesises
h1 = package_hypothesis(["?","?","ok","?","no"],"no")
h2 = package_hypothesis(["few","few","?","?","?"],"no")
h3 = package_hypothesis(["many","?","ok","?","?"],"yes")
h4 = package_hypothesis(["many","few","not ok","?","?"],"yes")
h5 = package_hypothesis(["?","many","?","medium","?"],"yes")
h6 = package_hypothesis(["?","?","?","always","?"],"no")

In [39]:
def list_then_eliminate(data, *hypothesis):
    consistent_space = []
    inconsistent_space = []
    
    state = True
    for hyp in hypothesis:
        for i in range(data.shape[0]):
            if(hyp['outcome'] == data.iloc[i,-1]):
                if(not compare(hypo = h1['hypothesis'], values = list(data.iloc[i,:-1]))):
                    inconsistent_space.append(hyp)
                    state = False
                    break
        if(state):
            consistent_space.append(hyp)
            
    return consistent_space

SyntaxError: invalid syntax (<ipython-input-39-0f346202bab8>, line 9)

In [40]:
list_then_eliminate(data, h1)

{'hypothesis': ['?', '?', 'ok', '?', 'no'], 'outcome': 'no'}

[]

In [22]:
data

  edition citation   prize    size inlibrary  buy
0    many      few      ok   small        no   no
1     one     many  not ok     big        no  yes
2     few      few  not ok     big    always   no
3    many     many  not ok  medium        no  yes
4    many     many      ok   small        no  yes

In [31]:
compare(hypo = h1['hypothesis'], values = list(data.iloc[0,:-1]))

True